<!DOCTYPE HTML>

<html>
	<head>
		<title>Sean Hartrich</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/CSS/main.css') }}"/>
	</head>

	<div class="topnav">
		<a class="active" href="/aboutMe">Home</a>
		<a href="/pastExp">Past Experience</a>
		<a href="/skills">Skills</a>
		<!-- <a href="#projects">Side Projects</a> -->
		<a href="samples/shartrich resume.pdf" target="_blank">Resume</a>
	</div>
	
	<body>
		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="{{url_for('static', filename='assets/images/avatar3.jpg')}}" height=128 width=128 alt=""></span>
					<h1 id="logo"><a href="#">Sean Hartrich</a></h1>
					<p>Always thinking outside the box</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">About</a></li>
						<li><a href="#two">Education</a></li>
						<li><a href="#three">Skills</a></li>
					</ul>
				</nav>
				<footer>
					<div style="position:bottom;">
						
						<span style="font-size:13pt;text-align:center">847-650-4959 | snhartrich@gmail.com</span>
						<ul class="icons">
							<li><a href="https://twitter.com/snhartrich" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/sean.hartrich" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/snhartrich/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/shartrich" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
						</ul>
					</div>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">


							<!-- one -->
							<section id="one">
								<div class="container">
									<header class="major">
										<h2>Sean Hartrich</h2>
										<p>Actively seeking New Graduate/Internship roles for a Software Engineering/Data Analyst position in the San Francisco Bay Area.</p>
									</header>
									<p>I am looking to pivot myself into a software engineering role. While my professional experience focuses on data analytics and operations research, most of my skills will transfer smoothly into an engineering environment.</p>
								</div>
							</section>

							<!-- Two -->
							<section id="two">
								<div class ="container">
									<h3>Education</h3>

									<div style='display:flex;justify-content: space-between;'>
										<h4>B.S. Industrial and Systems Engineering</h4>
										<h5 style='text-align:right;display: inline;right:0;'>August 2014 to May 2018</h5>
									</div>
									<h5><i>Georgia Institute of Technology - Atlanta, Georgia </i></h5>

								</div>
							</section>
							<!-- three -->
							<section id="three">
								<div class="container">
									<h3>Skills</h3>
									<p>I would like to consider myself a man of many talents; I have outlined a few below:</p>
									<ul class="feature-icons">
										<li class="fa-code">Writing all the code</li>
										<li class="fa-cubes">Picking things up and put them down</li>
										<li class="fa-book">Reading books and stuff</li>
										<li class="fa-coffee">Drinking all of the coffees</li>
										<li class="fa-bolt">Shooting lightning bolts like a wizard</li>
										<li class="fa-users">Secret ninja shadow clone technique</li>
									</ul>
									<a href='/skills'><h4 style="color:red;""><u>*Click here for an actual comprehensive list of my skills*</u></h4></a>
								</div>
							</section>

					</div>
		</div>	


		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollzer.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>