<!DOCTYPE HTML>

<html>
	<head>
		<title>Sean Hartrich</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/CSS/main.css') }}"/>
	</head>

	{% include "header.html" %}
	
	<body>
		<!-- Header -->
			{% include "side_bar_menu.html" %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">


							<!-- one -->
							<section id="one">
								<div class="container">
									<header class="major">
										<h2>Sean Hartrich</h2>
										<p>Actively seeking New Graduate/Internship roles for a Software Engineering/Data Analyst position in the San Francisco Bay Area.</p>
									</header>
									<p>I am looking to pivot myself into a software engineering role. While my professional experience focuses on data analytics and operations research, most of my skills will transfer smoothly into an engineering environment.</p>
								</div>
							</section>

							<!-- Two -->
							<section id="two">
								<div class ="container">
									<h3>Education</h3>

									<div style='display:flex;justify-content: space-between;'>
										<h4>B.S. Industrial and Systems Engineering</h4>
										<h5 style='text-align:right;display: inline;right:0;'>August 2014 to May 2018</h5>
									</div>

									<div style='display:flex;justify-content: space-between;'>
										<h5><i>Georgia Institute of Technology - Atlanta, Georgia</i></h5>
										<h5 style='text-align:right;display: inline;right:0;'>Graduated with high honors</h5>
									</div>

								</div>
							</section>
							<!-- three -->
							<section id="three">
								<div class="container">
									<h3>Skills</h3>
									<p>I would like to consider myself a man of many talents; I have outlined a few below:</p>
									<ul class="feature-icons">
										<li class="fa-code">Writing all the code</li>
										<li class="fa-cubes">Picking things up and put them down</li>
										<li class="fa-book">Reading books and stuff</li>
										<li class="fa-coffee">Drinking all of the coffees</li>
										<li class="fa-bolt">Shooting lightning bolts like a wizard</li>
										<li class="fa-users">Secret ninja shadow clone technique</li>
									</ul>
									<a href='/skills'><h4 style="color:red;""><u>*Click here for an actual comprehensive list of my skills*</u></h4></a>
								</div>
							</section>

					</div>
		</div>	


		{% include "bottom_script.html" %}

			

	</body>
</html>