<!DOCTYPE HTML>

<html>
	<head>
		<title>Sean Hartrich</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/CSS/main.css') }}"/>
	</head>

	{% include "header.html" %}
	
	<body>
		<!-- Header -->
			{% include "side_bar_menu.html" %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">


							<!-- one -->
							<section id="one">
								<div class="container">
									<header class="major">
										<h2>Sean Hartrich</h2>
										<p>Actively seeking new graduate/junior role for a software engineering position.</p>
									</header>
									<p>I am looking to plant myself in a fast-paced, technology facing organization. While my professional experience focuses on data analytics and operations research, my skills will transfer smoothly into an engineering environment.</p>
								</div>
							</section>

							<!-- Two -->
							<section id="two">
								<div class ="container">
									<h3>Education</h3>

									<div style='display:flex;justify-content: space-between;'>
										<h4>B.S. Industrial and Systems Engineering</h4>
										<h5 style='text-align:right;display: inline;right:0;'>August 2014 to May 2018</h5>
									</div>

									<div style='display:flex;justify-content: space-between;'>
										<h5><i><a href="http://www.gatech.edu/" target="_blank">Georgia Institute of Technology - Atlanta, Georgia</a></i></h5>
										<h5 style='text-align:right;display: inline;right:0;'>Graduated with high honors</h5>
									</div>

								</div>
							</section>


							<!-- three -->
							<section id='three'>
								<div class="container">
                                    <div style='display:flex;justify-content: space-between;'>
                                        <h3>Side Projects</h3>
                                    </div>
                                    	<h4>Current Events Analysis: Using data-mining and machine learning to understand the news</h4>
                                        <!-- <h5>Using data-mining and machine learning to understand the news</h5> -->
                                    <div class="features">
                                        <article>
                                            <!-- <a href="http://www.nrtllc.com/" class="image" target="_blank"><img src="{{url_for('static', filename='assets/images/CB logo.jpg')}}" alt="" height=200 width=200></a> -->
                                            <!-- <iframe id="Project1IFrame" title="What's happening in the news?" src="/project1" width="900" height="900" scrolling="no"> </iframe> -->
                                            {% include "news bokeh.html" %}
                                            <p>Last updated ~{{ bokeh_updated_hours_ago }} hours ago</p>

                                        </article>
                                        <p>I set up a webscraper to pull news from 60 different sources online a an hourly rate to actively track current news stories. Using a NLP toolkit, each story is analyzed by prevalence and term frequency–inverse document frequency. Right now, I am just collecting the information and displaying it with an interactive vectorization map. Once I have enough data, I plan to build a sentiment analysis model to quantify current events' direct impact on the financial markets.</p>
                                    </div>
                                </div>
                            </section>

					</div>
			</div>	


		{% include "bottom_script.html" %}

	</body>
</html>