<!DOCTYPE HTML>

<html>
	<head>
		<title>Sean Hartrich</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/CSS/main.css') }}" />

	</head>

	<div class="topnav">
		<a href="/aboutMe">Home</a>
		<a class="active" href="/pastExp">Past Experience</a>
		<a href="/skills">Skills</a>
		<!-- <a href="#projects">Side Projects</a> -->
		<a href="samples/shartrich resume.pdf" target="_blank">Resume</a>
	</div>

	
	<body>

			<section id="header">

				<header>
					<span class="image avatar"><img src="images/avatar3.jpg" height=128 width=128 alt="" /></span>
					<h1 id="logo"><a href="#">Sean Hartrich</a></h1>
					<p>Always thinking outside the box</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">Data Analytics Specialist</a></li>
						<li><a href="#two">Operations Data Analyst</a></li>
						<li><a href="#three">Operations Data Analyst</a></li>
						<li><a href="#four">Past Academic Projects</a></li>
					</ul>
				</nav>
				<footer>
					<div style="position:bottom;">
						
						<span style="font-size:13pt;text-align:center">847-650-4959 | snhartrich@gmail.com</span>
						<ul class="icons">
							<li><a href="https://twitter.com/snhartrich" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/sean.hartrich" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/snhartrich/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/shartrich" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
							<!-- <li><a href="mailto:snhartrich@gmail.com" class="icon fa-envelope" target="_top"><span class="label">Email</span></a></li> -->
						</ul>
					</div>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">


						<!-- Zero -->
							<section>
								<div class="container">
									<header class="major">
										<h2 style='display: inline;'>Past Experience</h2>
									</header>
									
								</div>
							</section>

							<section id="one">
								<div class="container">
									<div style='display:flex;justify-content: space-between;'>
										<h4>Data Analytics Specialist</h4>
										<h5 style='text-align:right;display: inline;right:0;'>August 2017 to Present</h5>
									</div>

										<h5>Coldwell Banker Residential Brokerage - Deerfield, IL</h5>
									<div class="features">
										<article>
											<a href="http://www.nrtllc.com/" class="image" target="_blank"><img src="images/CB logo.jpg" alt="" height=200 width=200></a>
											<div class="inner">
												<p>Designed Python report generating platform to automate and customize internal reporting. Developed experience-based, quantitative productivity expectations for 200+ full-time employees (FTEs). Conducted time and motion study to determine best closing procedure practices to revise training protocol. Reduced commission processing staff needs by 15%. Authored ad-hoc reports to senior leadership including CEO and CFO.</p>
											</div>
										</article>
									</div>
								</div>
							</section>

							<section id="two">
								<div class="container">
									<div style='display:flex;justify-content: space-between;'>
										<h4>Operations Data Analyst Intern</h4>
										<h5 style='text-align:right;display: inline;right:0;'>May 2017 to August 2017</h5>
									</div>

										<h5>Coldwell Banker Residential Brokerage - Deerfield, IL</h5>
									<div class="features">
										<article>
											<a href="http://www.nrtllc.com/" class="image" target="_blank"><img src="images/CB icon.jpg" alt="" height=200 width=200></a>
											<div class="inner">
												<p>Spearheaded automation for escrow roles using Python and VBA algorithms. Redesigned internal performance tracking and delivered informative, interactive dashboards for multiple KPIs. Restructured and consolidated central processing reporting for all 27 US companies. Engineered predictive analytics model revising expansion recruitment needs. Optimized and implemented staffing resource models for centralization to determine when to hire/train 128 new FTEs. Enhanced forecasting models for seasonal and temporary labor planning.</p>
											</div>
										</article>
									</div>
								</div>
							</section>

							<section id="three">
								<div class="container">
									<div style='display:flex;justify-content: space-between;'>
										<h4>Operations Data Analyst Intern</h4>
										<h5 style='text-align:right;display: inline;right:0;'>May 2016 to March 2017</h5>
									</div>

										<h5>U.S. Venture - Appleton, WI</h5>
									<div class="features">
										<article>
											<a href="http://www.usventure.com/" class="image" target="_blank"><img src="images/USV logo.jpg" alt="" height=200 width=200></a>
											<div class="inner">
												<p>Streamlined weekly and monthly site performance reports with regression analysis. Performed comprehensive analysis of power utilization resulting in significant (~$100k/year) tax savings. Restructured site service protocol and data management for 54 North American locations after conducting a time and motion study. Provided corrective actions for CNG equipment and used quantitative analysis to review changes. Modeled and optimized equipment lubricant and electrical consumption by forecasting demand.</p>
											</div>
										</article>
									</div>
								</div>
							</section>

							<section id="four">
								<div class="container">
									<h3>Academic Projects</h3>
									<p>Some of my more in-depth projects from school</p>
									<div class="features">
										<article>
											<a href="https://ntgfreight.com/" target="_blank" class="image"><img src="images/NTG.png" alt="" /></a>
											<div class="inner">
												<h4>Senior Design Route Optimizing Software</h4>
												<p style="display:inline">Two part project for <a href="https://ntgfreight.com/" target="_blank" alt="">Nolan Transportation Group</a>:</p>
												<p style="display:block">1: Designed an optimal route matching service for drayage truckload brokerage services. Created the API in Python and implemented access into client's internal systems.</p>
												<p style="display:block">2: Used a TSP algoritm to combine less-than-truckload and partial truckload loads on similar trajectories into single multi-stop routes. It's like Uber-Pool, but for trucks. Implemented in Python with SciPy	.</p>

												<nav>
													<a style="display:block" href="samples/Senior Design.pdf" target="_blank">Project Overview</a>
													<!-- <a style="display:block" href="images/EER diagram.png" target="_blank">EER Diagram</a>
													<a style="display:block" href="images/informationFlow.png" target="_blank">Information Flow Diagram</a> -->
												</nav>

											</div>
										</article>
										<article>
											<a href="images/informationFlow.png" target="_blank" class="image"><img src="images/informationFlow.png" alt="" /></a>
											<div class="inner">
												<h4>Commercial Trains Relational Database</h4>
												<p>Used Python and SQL to design and code a functional commercial train network system (similar to Amtrak). Project required a functial GUI with seperate UIs for manager logins, customer logins, and new users withput an account. Had to communicate with database to book new trips, change bookings, add new payment info, etc. Manager client had to return KPIs based on customer activity and revenue reports.</p>

												<nav>
													<a style="display:block" href="samples/TrainsRelationalDatabaseScript.py" target="_blank">Source Code</a>
													<a style="display:block" href="images/EER diagram.png" target="_blank">EER Diagram</a>
													<a style="display:block" href="images/informationFlow.png" target="_blank">Information Flow Diagram</a>
												</nav>

											</div>
										</article>
										<article>
											<a href="images/energyPortfolio.png" target="_blank" class="image"><img src="images/energyPortfolio.png" alt="" /></a>
											<div class="inner">
												<h4>Georgia Optimal Energy Portfolio</h4>
												<p>Co-developed a model for Georgia energy infrastructure based on emission standards, expected production costs, and load demands. Used Xpress Suite to determine optimal portions of energy sources. Presented findings to 
												<a href="https://www.southerncompany.com/" target="_blank" alt="">Southern Company</a> senior leadership.</p>
											</div>
										</article>
										
									</div>
								</div>
							</section>




						</div>
				</div>


						<!-- Three -->
							

						


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollzer.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>