<!DOCTYPE HTML>

<html>
	<head>
		<title>Sean Hartrich</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{url_for('static', filename='styles/CSS/main.css')}}" />

	</head>

	{% include "header.html" %}

	
	<body>

			{% include "side_bar_menu.html" %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">


						<!-- Zero -->
							<section>
								<div class="container">
									<header class="major">
										<h2 style='display: inline;'>Past Experience</h2>
									</header>
									
								</div>
							</section>

							<section id="one">
								<div class="container">
									<div style='display:flex;justify-content: space-between;'>
										<h4>Applications Engineering Intern</h4>
										<h5 style='text-align:right;display: inline;right:0;'>May 2018 to Present</h5>
									</div>

										<h5>Zuora - San Mateo, CA</h5>
									<div class="features">
										<article>
											<a href="https://www.zuora.com/" title="www.zuora.com" class="image" target="_blank"><img src="{{url_for('static', filename='assets/images/zuora logo.png')}}" alt="" height=200 width=200></a>
											<div class="inner">
												<p>Architected Python-Flask/Pandas middleware on MySQL database to convert billions of dollars of subscriptions into ASC 606 revenue, compatible with various revenue recognition systems. Engineered B2B Node-Express e-commerce platform selling/provisioning Zuora University and other training products, capturing millions of dollars annually. Completely rebuilt lead generation/sales funnel, seamlessly integrating several standalone platforms into CRM, handling 1000s of new leads every day. Re-designed the Zuora test drive process, auto-generating and de-provisioning free trial product sandbox demos for 100s of new users daily. Coordinated with Applications team for regular sprint planning, code-reviews, and other Agile practices.</p>
											</div>
										</article>
									</div>
								</div>
							</section>

							<section id="two">
								<div class="container">
									<div style='display:flex;justify-content: space-between;'>
										<h4>Data Analytics Specialist</h4>
										<h5 style='text-align:right;display: inline;right:0;'>May 2017 to May 2018</h5>
									</div>

										<h5>Coldwell Banker Residential Brokerage - Deerfield, IL</h5>
									<div class="features">
										<article>
											<a href="http://www.nrtllc.com/" title="www.nrtllc.com" class="image" target="_blank"><img src="{{url_for('static', filename='assets/images/CB logo.jpg')}}" alt="" height=200 width=200></a>
											<div class="inner">
												<p>Directed process automation for day-to-day reporting and transaction processing roles. Engineered Python report generating platform to automate and customize internal reporting. Redesigned internal performance tracking and delivered informative, interactive dashboards for multiple KPIs for all 27 US companies. Developed experience-based, quantitative productivity expectations for 200+ full-time employees (FTEs). Engineered staffing resource models for centralization to determine when to hire/train 128 new FTEs. Authored ad-hoc reports to senior leadership including COO and CFO. </p>
											</div>
										</article>
									</div>
								</div>
							</section>

							<section id="three">
								<div class="container">
									<div style='display:flex;justify-content: space-between;'>
										<h4>Operations Data Analyst Intern</h4>
										<h5 style='text-align:right;display: inline;right:0;'>May 2016 to March 2017</h5>
									</div>

										<h5>U.S. Venture - Appleton, WI</h5>
									<div class="features">
										<article>
											<a href="http://www.usventure.com/" title="www.usventure.com" class="image" target="_blank"><img src="{{url_for('static', filename='assets/images/USV logo.jpg')}}" alt="" height=200 width=200></a>
											<div class="inner">
												<p>Streamlined weekly and monthly site performance reports. Performed comprehensive analysis of power utilization resulting in significant tax savings (~$120k/year). Restructured site service protocol and data management for 54 North American locations with regression analysis model. Provided corrective actions for CNG equipment and used quantitative analysis to evaluate improvements. Modeled and optimized equipment lubricant and electrical consumption by forecasting demand.</p>
											</div>
										</article>
									</div>
								</div>
							</section>

							<section id="four">
								<div class="container">
									<h3>Academic Projects</h3>
									<p>Some of my more in-depth projects from school</p>
									<div class="features">
										<article>
											<a href="https://ntgfreight.com/" target="_blank" class="image"><img src="{{url_for('static', filename='assets/images/NTG.png')}}" alt="" /></a>
											<div class="inner">
												<h4>Senior Design Route Optimizing Software</h4>
												<p style="display:inline">Two part project for <a href="https://ntgfreight.com/" target="_blank" alt="">Nolan Transportation Group</a>:</p>
												<p style="display:block">1: Designed an optimal route matching service for drayage truckload brokerage services. Created the API in Python and implemented access into client's internal systems.</p>
												<p style="display:block">2: Used a TSP algoritm to combine less-than-truckload and partial truckload loads on similar trajectories into single multi-stop routes. It's like Uber-Pool, but for trucks. Implemented in Python with SciPy	.</p>

												<nav>
													<a style="display:block" href="{{url_for('static', filename='assets/samples/Senior Design.pdf')}}" target="_blank">Project Overview</a>
													<!-- <a style="display:block" href="images/EER diagram.png" target="_blank">EER Diagram</a>
													<a style="display:block" href="images/informationFlow.png" target="_blank">Information Flow Diagram</a> -->
												</nav>

											</div>
										</article>
										<article>
											<a href="{{url_for('static', filename='assets/images/informationFlow.png')}}" target="_blank" class="image"><img src="{{url_for('static', filename='assets/images/informationFlow.png')}}" alt="" /></a>
											<div class="inner">
												<h4>Commercial Trains Relational Database</h4>
												<p>Used Python and SQL to design and code a functional commercial train network system (similar to Amtrak). Project required a functial GUI with seperate UIs for manager logins, customer logins, and new users withput an account. Had to communicate with database to book new trips, change bookings, add new payment info, etc. Manager client had to return KPIs based on customer activity and revenue reports.</p>

												<nav>
													<a style="display:block" href="{{url_for('static', filename='assets/samples/TrainsRelationalDatabaseScript.py')}}" target="_blank">Source Code</a>
													<a style="display:block" href="{{url_for('static', filename='assets/images/EER diagram.png')}}" target="_blank">EER Diagram</a>
													<a style="display:block" href="{{url_for('static', filename='assets/images/informationFlow.png')}}" target="_blank">Information Flow Diagram</a>
												</nav>

											</div>
										</article>
										<article>
											<a href="{{url_for('static', filename='assets/images/energyPortfolio.png')}}" target="_blank" class="image"><img src="{{url_for('static', filename='assets/images/energyPortfolio.png')}}" alt="" /></a>
											<div class="inner">
												<h4>Georgia Optimal Energy Portfolio</h4>
												<p>Co-developed a model for Georgia energy infrastructure based on emission standards, expected production costs, and load demands. Used Xpress Suite to determine optimal portions of energy sources. Presented findings to 
												<a href="https://www.southerncompany.com/" target="_blank" alt="">Southern Company</a> senior leadership.</p>
											</div>
										</article>
										
									</div>
								</div>
							</section>
						</div>
				</div>


						<!-- Three -->
							

						


		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollzer.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>