<!DOCTYPE HTML>

<html>
    <head>
        <title>Sean Hartrich</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/CSS/main.css')}}" />

    </head>

    {% include "header.html" %}

    
    <body>

            {% include "side_bar_menu.html" %}

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">


                        <!-- Zero -->
                            <section>
                                <div class="container">
                                    <header class="major">
                                        <h2 style='display: inline;'>Side Projects</h2>
                                    </header>
                                </div>
                            </section>

                            <section id="one">
                                <div class="container">
                                    <div style='display:flex;justify-content: space-between;'>
                                        <h3>Current Events Headline Analysis</h4>
                                    </div>

                                        <h5>Using data-mining and machine learning to understand the news</h5>
                                    <div class="features">
                                        <article>
                                            <!-- <a href="http://www.nrtllc.com/" class="image" target="_blank"><img src="{{url_for('static', filename='assets/images/CB logo.jpg')}}" alt="" height=200 width=200></a> -->
                                            <iframe id="Project1IFrame" title="What's happening in the news?" src="/project1" width="600" height="600" scrolling="no"> </iframe>
                                            <div class="inner">
                                                <p>I set up a webscraped to pull news from 60 different sources online a an hourly rate to actively track current news stories. Using a NLP toolkit, each story is analyzed by prevalence and term frequency–inverse document frequency. Right now, I am just collecting the information and displaying it with an interactive vectorization map. Once I have enough data, I plan to build a sentiment analysis model to quantify current events' direct impact in the financial markets.</p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </section>





                        </div>
                </div>


                        <!-- Three -->
                            

                        


        <!-- Scripts -->
            {% include "bottom_script.html" %}

    </body>
</html>