<!DOCTYPE HTML>

<html>
    <head>
        <title>Sean Hartrich</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/CSS/main.css')}}" />

    </head>

    {% include "header.html" %}

    
    <body>

            {% include "side_bar_menu.html" %}

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">


                        <!-- Zero -->
                            <section>
                                <div class="container">
                                    <header class="major">
                                        <h2 style='display: inline;'>Side Projects</h2>
                                        <p>Always trying to keep myself busy trying out new skills, I have outlined some recent endeavors below.</p>
                                    </header>
                                    
                                </div>
                            </section>

                            <section id="one">
                                <div class="container">
                                    <div style='display:flex;justify-content: space-between;'>
                                        <h4>Data Analytics Specialist</h4>
                                        <h5 style='text-align:right;display: inline;right:0;'>August 2017 to June 2018</h5>
                                    </div>

                                        <h5>Coldwell Banker Residential Brokerage - Deerfield, IL</h5>
                                    <div class="features">
                                        <article>
                                            <a href="http://www.nrtllc.com/" class="image" target="_blank"><img src="{{url_for('static', filename='assets/images/CB logo.jpg')}}" alt="" height=200 width=200></a>
                                            <div class="inner">
                                                <p>Designed Python report generating platform to automate and customize internal reporting. Developed experience-based, quantitative productivity expectations for 200+ full-time employees (FTEs). Conducted time and motion study to determine best closing procedure practices to revise training protocol. Reduced commission processing staff needs by 15%. Authored ad-hoc reports to senior leadership including CEO and CFO.</p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </section>





                        </div>
                </div>


                        <!-- Three -->
                            

                        


        <!-- Scripts -->
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.scrollzer.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/util.js') }}"></script>
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>