<!DOCTYPE HTML>

<html>
	<head>
		<title>Sean Hartrich</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{url_for('static', filename='styles/CSS/main.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		


	</head>


	<div class="topnav">
		<a href="/aboutMe">Home</a>
		<a href="/pastExp">Past Experience</a>
		<a class="active" href="/skills">Skills</a>
		<!-- <a href="#projects">Side Projects</a> -->
		<a href="samples/shartrich resume.pdf" target="_blank">Resume</a>
	</div>

	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="{{url_for('static', filename='assets/images/avatar3.jpg')}}" height=128 width=128 alt="" /></span>
					<h1 id="logo"><a href="#">Sean Hartrich</a></h1>
					<p>Always thinking outside the box</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">Coding</a></li>
						<li><a href="#two">Python Libraries</a></li>
						<li><a href="#three">Software</a></li>
						<li><a href="#four">Extras</a></li>
					</ul>
				</nav>
				<footer>
					<div style="position:bottom;">
						
						<span style="font-size:13pt;text-align:center">847-650-4959 | snhartrich@gmail.com</span>
						<ul class="icons">
							<li><a href="https://twitter.com/snhartrich" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/sean.hartrich" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/snhartrich/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/shartrich" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
						</ul>
					</div>
				</footer>
			</section>

			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<section>
							<div class="container">
								<header class="major">
									<h2 style='display: inline;'>Skills & Proficiencies</h2>
								</header>
							</div>
						</section>


						<!-- One -->
							<section id="one">
								<div class="container">
									<h3>Coding</h3>
									<p>Some of my favorite coding languages:</p>
									<ul class="feature-icons">
										<li class="fa-cubes">Python</li>
										<li class="fa-database">SQL</li>
										<li class="fa-coffee">Java</li>
										<li class="fa-code">JavaScript</li>
										<li class="fa-file-text">HTML5</li>
										<li class="fa-registered">"R"</li>
										<li class="fa-usd">Bash Scripting</li>
										<!-- <li class="fa-cloud">Google Analytics</li> -->
										<li class="fa-list">VBA</li>
									</ul>
								</div>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="container">
									<h3>Favorite Python Libraries</h3>
									<p>I am most experienced developing scripts and webapps in Python. Here are some of my favorite packages:</p>
									<ul class="feature-icons">
										<li><img src="{{url_for('static', filename='assets/images/pandas.png')}}" alt="HTML5 Icon" width="32" height="32"> Pandas - Data Analytics</li>
										<li><img src="{{url_for('static', filename='assets/images/scipy.png')}}" alt="HTML5 Icon" width="32" height="32"> SciPy - Optimization</li>
										<li><img src="{{url_for('static', filename='assets/images/flask.png')}}" alt="HTML5 Icon" width="32" height="32"> Flask/Django - Web Applications</li>
										<li><img src="{{url_for('static', filename='assets/images/sklearn.png')}}" alt="HTML5 Icon" width="32" height="32"> Scikit Learn - Machine Learning</li>
										<li><img src="{{url_for('static', filename='assets/images/numpy2.jpg')}}" alt="HTML5 Icon" width="32" height="32"> NumPy - Computations</li>
										<li><img src="{{url_for('static', filename='assets/images/matplotlib.png')}}" alt="HTML5 Icon" width="32" height="32"> Matplotlib - Data Visualization</li>
										<li><img src="{{url_for('static', filename='assets/images/scrapy.png')}}" alt="HTML5 Icon" width="32" height="32"> Scrapy - Web Scraping</li>
										<li><img src="{{url_for('static', filename='assets/images/pillow.png')}}" alt="HTML5 Icon" width="32" height="32"> Pillow - Image Manipulation</li>
										<li><img src="{{url_for('static', filename='assets/images/requests.png')}}" alt="HTML5 Icon" width="32" height="32"> Requests - HTTP</li>
									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>Software</h3>
									<p>How could I have a page dedicated to my skills without listing some basic software stuff:</p>
									<ul class="feature-icons">
										<li><img src="{{url_for('static', filename='assets/images/versions.png')}}" alt="" width="32" height="32"> Version Control (Git)</li>
										
										<!-- <li><span class="fa-li"><i class="fas fa-spinner fa-spin" style="padding: 0;"></i></span></li> -->

										<li><img src="{{url_for('static', filename='assets/images/linux.png')}}" alt="" width="32" height="32"> Linux Fundamentals</li>
										<li><img src="{{url_for('static', filename='assets/images/tableau.png')}}" alt="" width="32" height="32"> Tableau Data Visualization</li>
										<!-- <li><img src="images/bash.jpg" alt="" width="32" height="32">Bash Scripting</li> -->
										<li><img src="{{url_for('static', filename='assets/images/googleAnalytics.png')}}" alt="" width="32" height="32"> Google Analytics</li>
										<li><img src="{{url_for('static', filename='assets/images/mySql.jpg')}}" alt="" width="32" height="32"> MySQL Interfaces</li>
										<li><img src="{{url_for('static', filename='assets/images/excel.png')}}" alt="" width="32" height="32" style='border-radius:100%'> MS Excel (basically a pro with Excel formulas/VBA scripts)</li>

									</ul>
								</div>
							</section>

							<section id="four">
								<div class="container">
									<h3>Extras</h3>
									<p>I am...</p>
									<ul class="feature-icons">
										<li>An excellent problem solver</li>
										<li>A strong communicator</li>
										<li>A natural leader</li>
										<li>A team player</li>
										<li>A quick learner</li>
										<li>An animal lover</li>
									</ul>
								</div>
							</section>


						</div>
				</div>


		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollzer.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>